[submodule "mujoco_sim/mjcf/mujoco_menagerie"]
	path = mujoco_sim/mjcf/mujoco_menagerie
	url = https://github.com/tlpss/mujoco_menagerie.git
[submodule "ur_ikfast"]
	path = ur_ikfast
	url = https://github.com/cambel/ur_ikfast.git
